<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mingkie.simplepocketaccount">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ExpenseActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IncomeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SummaryActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SelectDateActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SummaryActivity" />
        </activity>
        <activity
            android:name=".SelectWeekActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SummaryActivity" />
        </activity>
        <activity
            android:name=".SelectMonthYearActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SummaryActivity" />
        </activity>
        <activity
            android:name=".SelectYearActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SummaryActivity" />
        </activity>
        <activity
            android:name=".DailySummaryActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectDateActivity" />
        </activity>
        <activity
            android:name=".WeeklySummaryActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectWeekActivity" />
        </activity>
        <activity
            android:name=".MonthlySummaryActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectMonthYearActivity" />
        </activity>
        <activity
            android:name=".YearlySummaryActivity"
            android:label="@string/app_name">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectYearActivity" />
        </activity>
    </application>

</manifest>